@using PagedList.Mvc
@model PagedList.IPagedList<EDTESP.Web.ViewModels.Cadastros.ProdutoViewModel>

@{
    ViewBag.Title = "Produtos";
    ViewBag.SubTitle = $"<a class=\"button primary\" href=\"{Url.Action("Novo","Produtos")}\">Novo</a>";
}
<div class="mb-2">
    @Html.Partial("_busca")
</div>
<div class="">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ProdutoId)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Categoria)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Especie)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ProdutoId)</td>
                <td>@Html.DisplayFor(modelItem => item.Categoria)</td>
                <td>@Html.DisplayFor(modelItem => item.Especie)</td>
                <td>
                    <div class="toolbar">
                        <a class="tool-button yellow" href="@Url.Action("Editar", "Produtos", new {id = item.ProdutoId})">
                            <span class="mif-pencil"></span>
                        </a>
                        <button class="tool-button alert btnRem" data-id="@item.ProdutoId">
                            <span class="mif-cross"></span>
                        </button>
                    </div>
                </td>
            </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">Sem resultados</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="">
    @Html.Partial("_Paginacao")
</div>

@section scripts
{
    <script type="text/javascript">
        $(function() {
            $(".btnRem").on('click',
                function() {
                    var cid = $(this).data('id');
                    showConfirm('@Url.Action("Remover", "Produtos")', cid);
                });
        });
    </script>
}
