@using EDTESP.Web.Helpers
@model EDTESP.Web.ViewModels.Cadastros.FormaPagamentoViewModel

@{
    ViewBag.Title = "Formas de Pagamento";
    ViewBag.SubTitle = "Nova Forma de Pagamento";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.EdtespValidationSummary(null, new { @class = "alert alert-danger" })

    <div class="row mb-2">
        @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "cell-sm-2" })
        <div class="cell-sm-10 no-gutters">
            <div class="cell-sm-3">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { } })
            </div>
            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "fg-red" })
        </div>
    </div>

    <div class="row mb-2">
        <div class="offset-sm-2 cell-sm-10 no-gutters">
            <div class="cell-sm-3">
                @Html.CheckBoxFor(model => model.GeraBoleto, new { data_role = "checkbox", data_caption = "Gera Boleto" })
            </div>
            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "fg-red" })
        </div>
    </div>

    <div class="row mb-2">
        <div class="offset-sm-2 cell-sm-10">
            <div class="cell">
                <button type="submit" class="button primary">Salvar</button>
                <a class="button link" href="@Url.Action("Grupos", "Cadastros")">Cancelar</a>
            </div>
        </div>
    </div>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
